@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Noto+Naskh+Arabic:wght@400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
    font-family: 'KonstantGrotesk';
    src: url("KonstantGrotesk.otf");
  } */

@layer base {
    html {
      font-family: 'Plus Jakarta Sans', sans-serif;
    }
  }

  @layer components {
    .malik-bg{
      @apply bg-white/70 dark:bg-slate-800/60 backdrop-blur-md;
    }
    .malik-card{
      @apply bg-white/70 dark:bg-slate-800/60 backdrop-blur-md rounded-xl p-3;
    }
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.link-animation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.8rem;
  aspect-ratio:1;
  border-radius: 50%;
  background-color: #373737;
  color: #7a7a7a;
  text-decoration: none;
  font-size: 1.5rem;
  transition:color 0.5s ease-in-out;
}

.link-animation::after{
  position:absolute;
  content:'';
  z-index:-1;
  inset: -3px;
  border-radius: inherit;

  background: conic-gradient(greenyellow var(--fill), transparent var(--fill));
  transition: --fill 0.6s ease-in-out;
}

@property --fill{
  syntax:'<percentage>';
  inherits: true;
  initial-value: 0%;
}

.link-animation:hover{
  color:greenyellow;
  --fill:100%;
}

.link-animation::after{
  position:absolute;
  z-index: -1;
}